.feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f9fafc;
}

.feedback-form {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.feedback-form h1 {
  margin-bottom: 50px;
  color: #c61616;
  text-align: center;
  font-size: xx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.feedback-form label {
  display: block;
  margin: 10px 0 5px;
  color: #444;
}

.feedback-form input,
.feedback-form select,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 16px;
}

.feedback-form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.feedback-form button:hover {
  background-color: #0056b3;
}
/* Success & Error Messages */
.success-message {
  color: #09b02d;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 28px;
}

.error-message {
  background: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 14px;
}
